@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    height: 100vh;
}

.ql-editor{
    font-size: 1.05rem;
}

.post-content p{
    margin-bottom: 0.5rem;
}

.post-content h1{
    font-size: 1.5rem;
    font-weight: 600;
    font-family: sans-serif;
    margin: 1.5rem 0;
}

.post-content h2{
    font-size: 1.4rem;
    font-family: sans-serif;
    margin: 1.5rem 0;
}

.post-content a{
    color: rgb(73, 149, 199);
    text-decoration: none;
}

.videoText {
    width:100%;
    height: 100%;
    position: relative;
}

video {
    width: 100%;
    height: auto;
}

@keyframes main {
    from {font-size: 15vw;}
    to {font-size: 25vw;}
}

.text {
    position: absolute;
    top: 0;
    left: 0;
    background: #555;
    height: 100%;
    width: 100%;
    color: #fff;
    display: flex;
    font-size: 15vw;
    font-weight: 900;
    text-shadow: -2px 2px 2px #ff00ff, 2px -2px 4px #aa00fa;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    align-items: center;
    text-align: center;
    justify-content: center;
    mix-blend-mode: overlay;
}

.text:hover {
    animation-name: main;
    animation-duration: 1.5s;
    font-size: 25vw;
}
